### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [16]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame

df = pd.read_csv(file_to_load)

df.count()
df.dtypes
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [17]:
# ------Players Count------
# determining total players
players_count= df['SN'].nunique()

print(players_count)

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
# ------Purchasing Analysis(Total)------
# Determining number of unique items
unique_items_count= df['Item ID'].nunique()
print(unique_items_count)
# Determining total revenue
total_revenue= df['Price'].sum()
print(total_revenue)
# Determining Number of Purchases
total_purchases= df['Purchase ID'].count()
print(total_purchases)
# Determining Average Price
average_price= df['Price'].mean()
print(average_price)

183
2379.77
780
3.050987179487176


## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [150]:
# ------Gender Demographics------
print("--------Gender Demographics-----------")

# Setting a new Dataframe column with index of unique integers assigned to each purchase id called as customer id
mapping = {k: v for v, k in enumerate(df.SN.unique())}
df['Customer ID'] = df.SN.map(mapping)
new_df= df.set_index('Customer ID')


# Grouping Dataframe by Gender
customer_group= df.groupby("Gender")

# Determining the Total Count of players under each gender group
gender=customer_group["Customer ID"].nunique()
gender= gender.rename(columns={"Gender":"Gender","Customer ID": "Total Count"})

# Determing percentage of players under each gender group
gender_percentage= (customer_group["Customer ID"].nunique()/players_count)*100
gender_percentage= gender_percentage.rename(columns={"Gender":"Gender","Customer ID": "Percentage of Players"})



gender_df= pd.concat([gender,gender_percentage],axis=1).reset_index()
gender_df= gender_df.rename(columns={"Gender": "Gender", 0: "Total Count", 1: "Percentage of Players"})
gender_df["Percentage of Players"] = gender_df["Percentage of Players"].map("{:.2f}".format)

#output_df.sort_values('Gender', axis=0, ascending=False)

print(gender_df.head())

--------Gender Demographics-----------
                  Gender  Total Count Percentage of Players
0                 Female           81                 14.06
1                   Male          484                 84.03
2  Other / Non-Disclosed           11                  1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [20]:
#--------- Purchasing Analysis (Gender)----------------
# Grouping by gender and determining purchase count per gender
print("Purchasing Analysis(Gender)")
gender_group=df.groupby("Gender")
purchase_count=gender_group["Purchase ID"].count()
#purchase_count= purchase_count.rename(columns={"Gender":"Gender","Purchase ID": "Purchase Count"})
#print(purchase_count)
#print(type(purchase_count))
#print("----------")
# Determining average purchase price per gender group
average_pur_pr=gender_group["Price"].mean()
#average_pur_pr= average_pur_pr.rename(columns={"Gender":"Gender","Price": "Average Purchase Price"})
#print(average_pur_pr)
#print("-----------")
# Determining total purchase value per gender group
total_pur_value=gender_group["Price"].sum()
total_pur_value= total_pur_value.rename(columns={"Gender":"Gender","Price": "Total Purchase Value"})
#print(total_pur_value)
#print("-----------")
# Determining Avg Total Purchase per Person per gender group
avg_total_pur_per=customer_group["Price"].sum()/gender_group["Customer ID"].nunique()
avg_total_pur_per= avg_total_pur_per.rename(columns={"Gender":"Gender",1: "Average Total Purchase Per Person"})
#print(avg_total_pur_per)
#print("-----------")

# Make a dataframe from all the series to display analysis
#print("-----------------PPurchasing Analysis(Gender)-----------------")
new_df=pd.concat([gender,purchase_count,average_pur_pr,total_pur_value,avg_total_pur_per],axis=1).reset_index()
#['Gender', 0, 'Purchase ID', 'Price', 1, 2]
new_df= new_df.rename(columns={"Gender": "Gender", 0: "Unique Customer Count", "Purchase ID": "Purchase Count", "Price":  "Average Purchase Price",1: "Total Purchase Value", 2: "Average Total Purchase Per Person"})
new_df["Average Purchase Price"] = new_df["Average Purchase Price"].map("${:.2f}".format)
new_df["Total Purchase Value"] = new_df["Total Purchase Value"].map("${:.2f}".format)
new_df["Average Total Purchase Per Person"] = new_df["Average Total Purchase Per Person"].map("${:.2f}".format)


print(new_df.head())
#print(list(new_df.columns))
#output_df= pd.concat([gender,gender_percentage],axis=1).reset_index()

Purchasing Analysis(Gender)
                  Gender  Unique Customer Count  Purchase Count  \
0                 Female                     81             113
1                   Male                    484             652
2  Other / Non-Disclosed                     11              15

  Average Purchase Price Total Purchase Value  \
0                  $3.20              $361.94
1                  $3.02             $1967.64
2                  $3.35               $50.19

  Average Total Purchase Per Person
0                             $4.47
1                             $4.07
2                             $4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [21]:
#----------Age Demographics--------------------


#df = df.dropna(how='any')

#max_age= df['Age'].max()
#print(max_age)
#min_age= df['Age'].min()
#print(min_age)
#print(df.dtypes)
#print(df.count())

#for i in range(1,df.count()):
 #   if df["Age"]== "<10":
  #      Age.value= 1

#min_age= df['Age'].min()
#print(min_age)
# Lets change the values to an integer
#cleanup_nums = {"Age":     {"<10": 9, "40+": 42}}

#df.replace(cleanup_nums, inplace=True)
#df.head()

# Establish bins for ages
bins = [0, 9, 14, 19, 24, 29, 34, 39, 45]

# Create the names for the four bins
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-39","40+"]


df["Age Group"] = pd.cut(df["Age"], bins, labels = group_labels)

                
#df.head()
#df.tail()
#print(df.dtypes)
#print(df.count())

#bins = [0, 200000, 400000, 600000, 800000, 1000000,
 #       2000000, 3000000, 4000000, 5000000, 50000000]

# Create labels for these bins
#group_labels = ["pitiful view count", "200k to 400k", "400k to 600k", "600k to 800k", "800k to 1mil", "1mil to 2mil",
                #"2mil to 3mil", "3mil to 4mil", "4mil to 5mil", "5mil to 50mil"]
# Create a Groupy object based upon "Age Group"

age_group= df.groupby("Age Group")
age_group_count= age_group["Customer ID"].nunique()
age_group_count= age_group_count.rename(columns={"Age Group":"Age Group","Customer ID": "Total Count"})
#print(age_group_count)

age_group_percentage= ((age_group["Customer ID"].nunique())/(df["Customer ID"].nunique())*100)
age_group_percentage= age_group_percentage.rename(columns={"Age Group":"Age Group","Customer ID": "Percentage of Players"})
#print(age_group_percentage)

age_df=pd.concat([age_group_count,age_group_percentage],axis=1).reset_index()

age_df= age_df.rename(columns={"Age Group": "Age Group", 0: "Total Count", 1: "Percentage of Players"})
age_df["Percentage of Players"] = age_df["Percentage of Players"].map("{:.2f}".format)
age_df

  Age Group  Total Count Percentage of Players
0       <10           17                  2.95
1     10-14           22                  3.82
2     15-19          107                 18.58
3     20-24          258                 44.79
4     25-29           77                 13.37
5     30-34           52                  9.03
6     35-39           31                  5.38
7       40+           12                  2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [22]:
#-------Purchasing Analysis(Age)---------------

print("-------Purchasing Analysis(Age)---------------")

# Determine Purchase Count per age group
age_group_pur_count= age_group["Purchase ID"].nunique()
age_group_pur_count= age_group_pur_count.rename(columns={"Age Group":"Age Group","Purchase ID": "Purchase Count"})
#print(age_group_pur_count)

# Determine Average Purchase Price per age group
age_group_avg_pur_pr= age_group["Price"].mean()
age_group_avg_pur_pr= age_group_avg_pur_pr.rename(columns={"Age Group":"Age Group","Price": "Average Purchase Price"})
#print(age_group_avg_pur_pr)

# Determine Total Purchase Value per age group
age_group_tot_pur_value= age_group["Price"].sum()
age_group_tot_pur_value= age_group_tot_pur_value.rename(columns={"Age Group":"Age Group","Price": "Total Purchase Value"})
#print(age_group_tot_pur_value)

# Determine Avg Total Purchase per Person per age group
age_group_avg_tot_pur_pr= (age_group["Price"].sum())/(age_group["Customer ID"].nunique())
age_group_avg_tot_pur_pr= age_group_avg_tot_pur_pr.rename(columns={"Age Group":"Age Group","Price": "Avg Total Purchase per Person"})
#print(age_group_avg_tot_pur_pr)





age_rev_df=pd.concat([age_group_pur_count,age_group_avg_pur_pr,age_group_tot_pur_value,age_group_avg_tot_pur_pr],axis=1).reset_index()
#age_rev_df.head()
age_rev_df= age_rev_df.rename(columns={"Age Group": "Age Group", 0: "Purchase Count", 1: "Average Purchase Price",2: "Total Purchase Value", 3: "Avg Total Purchase per Person" })
#age_rev_df.head()
age_rev_df["Average Purchase Price"] = age_rev_df["Average Purchase Price"].map("${:.2f}".format)
age_rev_df["Total Purchase Value"] = age_rev_df["Total Purchase Value"].map("${:.2f}".format)
age_rev_df["Avg Total Purchase per Person"] = age_rev_df["Avg Total Purchase per Person"].map("${:.2f}".format)
print(age_rev_df.head())

-------Purchasing Analysis(Age)---------------
  Age Group  Purchase Count Average Purchase Price Total Purchase Value  \
0       <10              23                  $3.35               $77.13
1     10-14              28                  $2.96               $82.78
2     15-19             136                  $3.04              $412.89
3     20-24             365                  $3.05             $1114.06
4     25-29             101                  $2.90              $293.00

  Avg Total Purchase per Person
0                         $4.54
1                         $3.76
2                         $3.86
3                         $4.32
4                         $3.81

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [23]:
#--------------------Top Spenders---------------------
print("--------------------Top Spenders---------------------")
spenders_group= df.groupby("SN")
#print(type(spenders_group))

# Determining the purchase count series for each SN
spenders_group_count= spenders_group["Purchase ID"].count()
spenders_group_count= spenders_group_count.rename(columns={"SN":"SN","Purchase ID": "Purchase Count"})
#print(spenders_group_count)

# Determining the Average Purchase Price series for each SN
spenders_group_avg_pur_pr= spenders_group["Price"].mean()
spenders_group_avg_pur_pr= spenders_group_avg_pur_pr.rename(columns={"SN":"SN","Price": "Average Purchase Price"})
#print(spenders_group_avg_pur_pr)

# Detrmining the Total Purchase Value series for each SN
spenders_group_tot_pur_value= spenders_group["Price"].sum()
spenders_group_tot_pur_value= spenders_group_tot_pur_value.rename(columns={"SN":"SN","Price": "Total Purchase Value"})
#print(spenders_group_tot_pur_value)

# Forming the top spenders dataframe
top_spenders_df=pd.concat([spenders_group_count,spenders_group_avg_pur_pr,spenders_group_tot_pur_value],axis=1).reset_index()

top_spenders_df= top_spenders_df.rename(columns={"SN": "SN", 0: "Purchase Count", 1: "Average Purchase Price",2: "Total Purchase Value" })

top_spenders_df["Average Purchase Price"] = top_spenders_df["Average Purchase Price"].map("${:.2f}".format)
top_spenders_df["Total Purchase Value"] = top_spenders_df["Total Purchase Value"].map("${:.2f}".format)


top_spenders_df=top_spenders_df.sort_values("Total Purchase Value", axis=0, ascending=False)

top_spenders_df=top_spenders_df.sort_values("Purchase Count", axis=0, ascending=False)

print(top_spenders_df.head())

--------------------Top Spenders---------------------
              SN  Purchase Count Average Purchase Price Total Purchase Value
360    Lisosia93               5                  $3.79               $18.96
246  Idastidru52               4                  $3.86               $15.45
275       Iral74               4                  $3.40               $13.62
423     Phyali88               3                  $3.43               $10.30
242       Idai61               3                  $2.74                $8.23

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [135]:
#--------------------Most Popular Items---------------------
print("--------------------Most Popular Items---------------------")

# Grouping the dataframe by Item ID

item_group= df.groupby("Item ID")

# Determining Purchase count series for each item in the item group and assigning a column name
item_group_count_series= item_group['Purchase ID'].count()
item_group_count_series= item_group_count_series.rename(columns={"Item ID":"Item ID","Purchase ID": "Purchase Count"})
#print(item_group_count_series)
#print(type(item_group_count_series))

# Determining Item Price series for each item in the item group and assigning a column name
item_group_price= item_group["Price"].mean()
item_group_price= item_group_price.rename(columns={"Item ID":"Item ID","Price": "Item Price"})


# Determining Total Purchase Value series for each item in the item group and assigning a column name
item_group_total_purchase_value= item_group["Price"].sum()
item_group_total_purchase_value= item_group_total_purchase_value.rename(columns={"Item ID":"Item ID","Price": "Total Purchase Value"})


# Organizing a new Dataframe with only two columns Item names and IDs and setting index to Item ID
item_name_df= df[["Item ID","Item Name"]]
item_name_df= (df[["Item ID","Item Name"]]).set_index("Item ID")
#print(organized_df.head())

# Formulating a dataframe from Item ID, purchase count, item price and total purchase value and renaming columns of the new dataframe
top_items_df=pd.concat([item_group_count_series,item_group_price,item_group_total_purchase_value],axis=1)
top_items_df= top_items_df.rename(columns={"Item ID": "Item ID", 0: "Purchase Count", 1: "Item Price",2: "Total Purchase Value" })
#print(top_items_df.head())

# Merging item_name dataframe and grouped dataframe and removing duplicate rows
organized_df= pd.merge(top_items_df,item_name_df, on="Item ID",how='left')
#print(organized_df.head())
organized_df=organized_df.drop_duplicates(subset=['Item Price', 'Total Purchase Value', 'Item Name'])
#print(new_df.columns)

# Formating organized df columns to $ and upto 2 decimals
organized_df=organized_df[["Item Name","Purchase Count", "Item Price", "Total Purchase Value"]]
#print(organized_df.head())
organized_df["Item Price"] = organized_df["Item Price"].map("${:.2f}".format)
organized_df["Total Purchase Value"] = organized_df["Total Purchase Value"].map("${:.2f}".format)

# Sorting organized dataframe in descending values of purchase count
popular_df=organized_df.sort_values("Purchase Count", axis=0, ascending=False)
print(popular_df.head())

--------------------Most Popular Items---------------------
                                            Item Name  Purchase Count  \
Item ID
178      Oathbreaker, Last Hope of the Breaking Storm              12
145                              Fiery Glass Crusader               9
108         Extraction, Quickblade Of Trembling Hands               9
82                                            Nirvana               9
19                      Pursuit, Cudgel of Necromancy               8

        Item Price Total Purchase Value
Item ID
178          $4.23               $50.76
145          $4.58               $41.22
108          $3.53               $31.77
82           $4.90               $44.10
19           $1.02                $8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [146]:
#--------------------Most Profitable Items---------------------
print("--------------------Most Profitable Items---------------------")

# Forming a new dataframe that sorts "top_items_df" according to descending values of total purchase value
top_items_purchases_df=top_items_df.sort_values('Total Purchase Value',ascending=False)


# Merging top_items_purchases_df and item_name_df to generate item name column
new_df=pd.merge(top_items_purchases_df,item_name_df, on="Item ID",how='left')

# Removing duplicate entries of item IDs but keeping the first entry
new_df=new_df.drop_duplicates(subset=['Item Price', 'Total Purchase Value', 'Item Name'])

# Reaaranging the columns post merge
new_df=new_df[["Item Name","Purchase Count", "Item Price", "Total Purchase Value"]]
print(new_df.head())

--------------------Most Profitable Items---------------------
                                            Item Name  Purchase Count  \
Item ID
178      Oathbreaker, Last Hope of the Breaking Storm              12
82                                            Nirvana               9
145                              Fiery Glass Crusader               9
92                                       Final Critic               8
103                                    Singed Scalpel               8

         Item Price  Total Purchase Value
Item ID
178            4.23                 50.76
82             4.90                 44.10
145            4.58                 41.22
92             4.88                 39.04
103            4.35                 34.80